<header class="mb-4">
  <nav class="navbar fixed-top header">

    <div class="flex-grow-1">
      <button [routerLink]="'/'" class="header-button">
        RoomsBooking
      </button>
    </div>

    <div class="flex-grow-1 float-right">

      <div *ngIf="isLogged" ngbDropdown class="float-right">
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Profil</button>
          <button ngbDropdownItem (click)="logout()">Wyloguj się</button>
        </div>

        <button class="header-button" ngbDropdownToggle>
          Moje konto
        </button>
      </div>

      <div *ngIf="!isLogged" class="float-right">
        <button class="header-button"
                *ngIf="roles?.includes('ADMIN') || roles?.includes('MODERATOR')">
          Dodaj nowy pokój
        </button>

        <button class="header-button" *ngIf="roles?.includes('ADMIN')">
          Zarządzanie kontami
        </button>
      </div>

      <div *ngIf="!isLogged">
        <button [routerLink]="'/registration'" class="float-right header-button">
          Rejestracja
        </button>
        <button [routerLink]="'/login'" class="float-right header-button">
          Logowanie
        </button>
      </div>

    </div>
  </nav>
</header>
