<div class="d-flex justify-content-center">
  <div class="col-md-6">

    <div class="card text-center text-dark bg-light border-dark">

      <div class="section-header h4">
        Rejestracja
      </div>

      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="register()">

          <div class="form-group row">
            <label for="name" class="col-md-4 my-auto text-md-right">Imię</label>
            <div class="col-md-6 my-auto">
              <input type="text" [formControlName]="'name'" id="name" class="form-control">
            </div>
          </div>
          <div *ngIf="name!.invalid && name!.touched" class="alert alert-danger">
            <div *ngIf="name!.errors?.required">
              Pole nie może być puste
            </div>
            <div *ngIf="name!.errors?.maxlength">
              Imię nie może być dłuższe niż 60 znaków
            </div>
            <div *ngIf="name!.errors?.minlength">
              Imię nie może być krótsze niż 2 znaki
            </div>
          </div>

          <div class="form-group row">
            <label for="surname" class="col-md-4 my-auto text-md-right">Nazwisko</label>
            <div class="col-md-6 my-auto">
              <input type="text" [formControlName]="'surname'" id="surname" class="form-control">
            </div>
          </div>
          <div *ngIf="surname!.invalid && surname!.touched" class="alert alert-danger">
            <div *ngIf="surname!.errors?.required">
              Pole nie może być puste
            </div>
            <div *ngIf="surname!.errors?.maxlength">
              Nazwisko nie może być dłuższe niż 60 znaków
            </div>
            <div *ngIf="surname!.errors?.minlength">
              Nazwisko nie może być krótsze niż 2 znaki
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-md-4 my-auto text-md-right">Email</label>
            <div class="col-md-6 my-auto">
              <input type="text" [formControlName]="'email'" id="email" class="form-control">
            </div>
          </div>
          <div *ngIf="email!.invalid && email!.touched" class="alert alert-danger">
            <div *ngIf="email!.errors?.required">
              Pole nie może być puste
            </div>
            <div *ngIf="email!.errors?.maxlength">
              Email nie może być dłuższy niż 60 znaków
            </div>
            <div *ngIf="email!.errors?.minlength">
              Email nie może być krótszy niż 5 znaków
            </div>
            <div *ngIf="email!.errors?.pattern">
              Niepoprawny format adresu email
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-md-4 my-auto text-md-right">Numer kierunkowy</label>
            <div class="col-md-6 my-auto">
              <select [formControlName]="'countryCode'"
                      onmousedown="if(this.options.length>8){this.size=8;}"
                      onchange='this.size=0;' onblur="this.size=0;">
                <option *ngFor="let countryCode of countryCodes"
                        [selected]="countryCode == defaultSelectedCountryCode">{{countryCode}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="phoneNumber" class="col-md-4 my-auto text-md-right">Numer telefonu</label>
            <div class="col-md-6 my-auto">
              <input type="text" maxlength="12" [formControlName]="'phoneNumber'" id="phoneNumber"
                     class="form-control">
            </div>
          </div>
          <div *ngIf="phoneNumber!.invalid && phoneNumber!.touched" class="alert alert-danger">
            <div *ngIf="phoneNumber!.errors?.required">
              Pole nie może być puste
            </div>
            <div *ngIf="phoneNumber!.errors?.pattern">
              Niepoprawny format numeru telefonu
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-md-4 my-auto text-md-right">Hasło</label>
            <div class="col-md-6 my-auto">
              <input type="password" [formControlName]="'password'" id="password"
                     class="form-control">
            </div>
          </div>
          <div *ngIf="password!.invalid && password!.touched">
            <div *ngIf="password!.errors?.required" class="alert alert-danger">
              Pole nie może być puste
            </div>
            <div *ngIf="password!.errors?.maxlength || password!.errors?.maxlength"
                 class="alert alert-danger">
              Hasło musi mieć od 5 do 200 znaków
            </div>
          </div>

          <div class="form-group row">
            <label for="repeatedPassword" class="col-md-4 my-auto text-md-right">
              Powtórz hasło</label>
            <div class="col-md-6 my-auto">
              <input type="password" [formControlName]="'repeatedPassword'" id="repeatedPassword"
                     class="form-control">
            </div>
          </div>
          <div *ngIf="repeatedPassword!.invalid && repeatedPassword!.touched">
            <div *ngIf="repeatedPassword!.errors?.required" class="alert alert-danger">
              Pole nie może być puste
            </div>
            <div *ngIf="repeatedPassword!.errors?.minLength || repeatedPassword!.errors?.maxLength"
                 class="alert alert-danger">
              Hasło musi mieć od 5 do 200 znaków
            </div>
          </div>

          <div class="col-md-8 offset-md-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block active font-weight-bold">
              Zarejestruj się
            </button>

            <div class="alert alert-success mt-3" *ngIf="isSuccess">
              Rejestracja sie powiodła!
            </div>

            <div class="alert alert-danger mt-3" *ngIf="errorMessage.length > 0">
              {{errorMessage}}
            </div>
          </div>

        </form>
      </div>
    </div>
    <br/>
  </div>
</div>
