<div class="container d-flex justify-content-center">
  <div class="col-md-12">

    <div *ngFor="let room of rooms">
      <div class="card text-center text-dark bg-light border-dark mb-2">

        <div class="section-header font-weight-bold h4">
          {{room.resortName}}
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-4 img-container" *ngFor="let image of room.images.slice(0, 3)">
              <img [src]="image.bytes" alt="Room image">
            </div>
          </div>

          <div class="row my-4">
            <div class="col-md-6">
              <img src="assets/icons/localisation.png" class="icon" alt="Localisation icon">
              {{room.country}}, {{room.city}} ul. {{room.street}} {{room.streetNumber}}
            </div>
            <div class="col-md-6">
              <img src="assets/icons/money.png" class="icon" alt="money icon">
              Cena za dobę pobytu: <b>{{ room.price | number : '1.2-2'}} zł</b>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-around">
                <div *ngIf="room.singleBedQuantity>0">
                  <img src="assets/icons/single-bed.png" class="icon" alt="single bed icon">
                  {{room.singleBedQuantity}} x łóżko pojedyncze
                </div>

                <div *ngIf="room.doubleBedQuantity>0">
                  <img src="assets/icons/double-bed.png" class="icon" alt="double bed icon">
                  {{room.doubleBedQuantity}} x łóżko podwójne
                </div>

                <div *ngIf="room.kingSizeBedQuantity>0">
                  <img src="assets/icons/king-size-bed.png" class="icon" alt="king size type bed icon">
                  {{room.kingSizeBedQuantity}} x łóżko typu king size
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <button type="submit" class="btn btn-outline-secondary btn-lg font-weight-bold">
                Zobacz szczegóły
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>

