html {
  padding: 0;
  height: 100%;
  font-size: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-size: 20px;
  margin: 0;
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.section-header {
  background-color: #264653;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.alert {
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}

select {
  width: inherit;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.img-container img {
  max-height: 200px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto
}

.icon {
  max-height: 36px;
  max-width: 36px;
  margin-right: 4px;
}



