html {
  padding: 0;
  height: 100%;
  font-size: 22px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-size: 22px;
  margin: 0;
  background-image: url("assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input[type=radio] {
  width: 18px;
  height: 18px;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
}

.section-header {
  background-color: #193F78;
  max-height: 65px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  border: 1px solid #000000;
  text-align: center;
}

.body-header {
  background-color: #264653;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.alert {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

select {
  width: inherit;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.img-container img {
  max-height: 200px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto
}

.icon {
  max-height: 36px;
  max-width: 36px;
  margin-right: 4px;
}

.nav-item a:hover {
  cursor: pointer
}


