html {
  padding: 0;
  height: 100%;
  font-size: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-size: 18px;
  margin: 0;
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
